.cache
/build
/src
.tmp
extension-manager/runtime/node_modules
/cmake-build-debug
/.idea
/vgcore*
.env
.direnv

vicinae/assets/extension-runtime.js

*.tar.gz
!extra/icons/vicinae-icon-theme.tar.gz
/dist

/.build
/.rpm
/.srpm

__cmake*
*.tgz

/qt6

/AppDir
*AppImage

/result

CLAUDE.md
